.env
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock
npm-shrinkwrap.json
.DS_Store
log
coverage
dist
*.log
*.pid
*.seed
*.pid.lock
*.swp
.idea
.vscode
*.swo
*.swo???
*.DS_Store
*.swo???
*.swo
*.swo???
*.DS_Store
*.swo???
*.swo
*.swo???
*.DS_Store
*.swo???